@charset "UTF-8";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

@font-face {
    font-family: "Gotham Pro";
  src: url("../font/gothampro.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: "Gotham Pro";
  src: url("../font/gothampro_black.ttf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
    font-family: "Gotham Pro";
  src: url("../font/gothampro_bold.ttf");
  font-style: normal;
  font-weight: 700;
}

.fl-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.fl-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bg::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bold-txt {
    font-weight: 700;
}

.hide {
    display: none;
}

main {
    position: relative;
}

.popup-bg-color {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
}

.popup-bg-color .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 800px;
}

.popup-bg-color .popup .popup-wrap {
    border-radius: 20px;
}

.popup-bg-color .popup .popup-wrap .popup-bg {
    width: 40%;
    height: inherit;
    background-color: #EFEFEF;
    border-radius: 20px 0 0 20px;
    padding: 46px 20px 67px 20px;
}

.popup-bg-color .popup .popup-wrap .popup-bg .popup-bg-wrap {
    height: 100%;
    position: relative;
}

.popup-bg-color .popup .popup-wrap .popup-bg .popup-bg-wrap::after {
    content: "";
    position: absolute;
    background-image: url("@img/ПОШАГО-ВЫЙ ПЛАН.svg");
    height: 100%;
    width: 100%;
    opacity: 0.05;
}

.popup-bg-color .popup .popup-wrap .popup-bg .popup-bg-wrap .popup-img {
    position: absolute;
    z-index: 1;
}

.popup-bg-color .popup .popup-wrap .popup-bg .popup-bg-wrap .book-img {
    top: 50%;
    left: -65px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: scale-book 2s infinite;
    animation: scale-book 2s infinite;
}

.popup-bg-color .popup .popup-wrap .popup-bg .popup-bg-wrap .arrow-img {
    bottom: -6px;
    right: -55px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.popup-bg-color .popup .popup-wrap .popup-content {
    background-color: #fff;
    width: 60%;
    border-radius: 0 20px 20px 0;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap {
    padding: 28px 59px 63px 59px;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-txt .popup-titie {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 23px;
    color: #0D0D0D;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-txt .training-title {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 22px;
    color: #0D0D0D;
    text-align: center;
    margin: 7px 0 5px 0;
    text-transform: uppercase;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-txt .normal-txt {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #0D0D0D;
    text-align: center;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-txt .smail-txt {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-txt .steps {
    margin-top: 15px;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form {
    margin-top: 34px;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .email-label {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
    text-align: left;
    margin-bottom: 6px;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .inp-wrap {
    width: 100%;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .inp-wrap .inp {
    width: 100%;
    border: 2px solid #F3CE00;
    border-radius: 4px;
    padding: 15px 18px;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
    text-align: left;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .inp-wrap .inp::-webkit-input-placeholder {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
    text-align: left;
    color: #0D0D0D !important;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .inp-wrap .inp::-moz-placeholder {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
    text-align: left;
    color: #0D0D0D !important;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .inp-wrap .inp:-ms-input-placeholder {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
    text-align: left;
    color: #0D0D0D !important;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .inp-wrap .inp::-ms-input-placeholder {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
    text-align: left;
    color: #0D0D0D !important;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .inp-wrap .inp::placeholder {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
    text-align: left;
    color: #0D0D0D !important;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .error-txt {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #0D0D0D;
    text-align: center;
    color: red;
    margin: 5px 0;
    text-align: left;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .btn {
    margin-top: 15px;
    padding: 16px 34px;
    background: linear-gradient(92.64deg, #FF5621 29.24%, #F21313 83.67%);
    border-radius: 4px;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 16px;
    color: #0D0D0D;
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .btn::after {
    content: "";
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 254, 0.5)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)));
    background: linear-gradient(to bottom, rgba(255, 255, 254, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 100%);
    width: 2vw;
    height: calc(100% + 5vw);
    left: -40px;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    -webkit-animation: movingFlare 3s ease-in-out 1.2s infinite;
    animation: movingFlare 3s ease-in-out 1.2s infinite;
    opacity: 0.5;
}

@-webkit-keyframes scale-book {
    0% {
        -webkit-transform: scale3d(1, 1, 1) translateY(-50%);
        transform: scale3d(1, 1, 1) translateY(-50%);
    }

    50% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95) translateY(-50%);
        transform: scale3d(0.95, 0.95, 0.95) translateY(-50%);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1) translateY(-50%);
        transform: scale3d(1, 1, 1) translateY(-50%);
    }
}

@keyframes scale-book {
    0% {
        -webkit-transform: scale3d(1, 1, 1) translateY(-50%);
        transform: scale3d(1, 1, 1) translateY(-50%);
    }

    50% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95) translateY(-50%);
        transform: scale3d(0.95, 0.95, 0.95) translateY(-50%);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1) translateY(-50%);
        transform: scale3d(1, 1, 1) translateY(-50%);
    }
}

@-webkit-keyframes movingFlare {
    0% {
        left: -30px;
        margin-left: 0px;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@keyframes movingFlare {
    0% {
        left: -30px;
        margin-left: 0px;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .popup-bg-color .popup {
        width: 700px;
    }

    .popup-bg-color .popup .popup-bg {
        width: 45%;
        padding: 46px 20px 67px;
    }

    .popup-bg-color .popup .popup-bg .popup-bg-wrap::after {
        background-size: contain;
    }

    .popup-bg-color .popup .popup-bg .popup-bg-wrap .book-img {
        left: -50px;
    }

    .popup-bg-color .popup .popup-bg .popup-bg-wrap .arrow-img {
        right: -40px;
    }

    .popup-bg-color .popup .popup-content {
        width: 55%;
    }

    .popup-bg-color .popup .popup-content .popup-content-wrap {
        padding: 28px 33px 63px;
    }
}

@media screen and (max-width: 767px) {
    .popup-bg-color .popup {
        width: 100%;
    }

    .popup-bg-color .popup .popup-wrap {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .popup-bg-color .popup .popup-wrap .popup-bg {
        display: none;
    }

    .popup-bg-color .popup .popup-wrap .popup-content {
        width: 95%;
        border-radius: 20px;
    }

    .popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap {
        padding: 25px 20px 40px;
    }

    .popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-txt .popup-titie {
        margin-bottom: 25px;
    }

    .popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-txt .training-title {
        font-family: "Gotham Pro", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 16px;
        color: #0D0D0D;
        text-align: center;
        text-transform: uppercase;
    }

    .popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form {
        margin-top: 20px;
    }

    .popup-bg-color .popup .popup-wrap .popup-content .popup-content-wrap .popup-form .btn {
        padding: 16px 10px;
        font-family: "Gotham Pro", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 16px;
        color: #0D0D0D;
        text-align: center;
        color: #fff;
    }
}